@charset "utf-8";

* {
    padding: 0;
    border: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

body {
    font-family: 'Raleway', 'NanumSquare', sans-serif;
}

button {
    background: none;
    outline: none;
    cursor: pointer;
}

input {
    background: none;
    outline: none;
}

select {
    background: none;
    outline: none;
    border-radius: 0;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
}


/*공통요소*/
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

h1 {
    padding: 80px 0;
    text-align: center;
}

.add_list {
    box-sizing: border-box;
    width: 60%;
    padding: 20px;
    margin: 0 auto;
}

.list_div {
    font-size: 14px;
}

#name, #goal, #how {
    width: 100%;
    border: 1px solid #444444;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
}

.add_complete {
    display: block;
    border-bottom: 1px solid #444444;
    padding: 10px 8px;
    margin: 0 auto;
}

@media (max-width: 800px) {
    .add_list {
        width: 80%;
    }
}

/*--------------------------------------*/

h2 {
    text-align: center;
    padding: 80px 0;
}

.my_list {
    max-width: 1024px;
    margin: 0 auto;
}

.list_wrap {
    width: 98%;
    padding: 60px 30px;
    margin: 0 1%;
    border-bottom: 1px solid #444444;
}

.list_top {
    width: 100%;
}

.list_name {
    font-size: 24px;
}

.list_goal {
    font-weight: bold;
    font-style: italic;
    margin: 16px 0;
}

.list_how {
    line-height: 1.6;
    word-break: keep-all;
}

.progress {
    width: 70%;
    float: left;
    margin-top: 16px;
}

.btn_wrap {
    float: right;
}
.up{
    border: 1px dotted #444444;
    padding: 8px 16px;
}
.edit_list {
    border: 1px solid #444444;
    padding: 8px 10px;
    margin-left: 10px;
}

.del_list {
    background-color: #444444;
    border: 1px solid #444444;
    color: #ffffff;
    padding: 8px 10px;
    margin-left: 10px;
}

@media (max-width: 800px) {
    .list_wrap {
        width: 45%;
        float: left;
        padding: 24px;
        margin: 20px 2.5%;
        border: 1px solid #bdbdbd;
    }

    .progress {
        width: 100%;
        /*float: none;*/
        margin: 20px 0;
    }

}

@media (max-width: 600px) {
    .list_wrap {
        width: 95%;
    }
}