@charset "utf-8";

* {
    padding: 0;
    border: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

body {
    font-family: 'Raleway', 'NanumSquare', sans-serif;
}

button {
    background: none;
    outline: none;
    cursor: pointer;
}

input {
    background: none;
    outline: none;
}

select {
    background: none;
    outline: none;
    border-radius: 0;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
}


/*공통요소*/
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

h1 {
    padding: 80px 0;
    text-align: center;
}

.add_list {
    box-sizing: border-box;
    width: 60%;
    padding: 20px;
    margin: 0 auto;
}

.list_div {
    font-size: 14px;
}

#name, #goal, #now, #how {
    width: 100%;
    border: 1px solid #444444;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
}

.add_complete {
    display: block;
    border-bottom: 1px solid #444444;
    padding: 10px 8px;
    margin: 0 auto;
}

@media (max-width: 800px) {
    .add_list {
        width: 80%;
    }
}

/*--------------------------------------*/

h2 {
    text-align: center;
    padding: 80px 0;
}

.my_list {
    max-width: 1024px;
    margin: 0 auto;
}

.list_wrap {
    width: 90%;
    padding: 60px 3%;
    margin: 0 2%;
    border-bottom: 1px solid #444444;
}

.list_top {
    width: 100%;
}

.list_name {
    font-size: 24px;
}

.list_goal {
    font-weight: bold;
    font-style: italic;
    margin: 20px 0;
}

.list_how {
    line-height: 1.6;
    word-break: keep-all;
}

.list_bottom {
    padding-top: 40px;
}
.progress_wrap {
    width: 80%;
    height: 36px;
    float: left;
    position: relative;
}
.down, .up {
    width: 36px;
    height: 36px;
    position: absolute;
    z-index: 2;
    border: 1px solid black;
}
.down {
    left: 0; top: 0;
}
.up {
    right: 0; top: 0;
}
.progress {
    width: 100%;
    height: 36px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 0 40px;
    box-sizing: border-box;
}
.progress_bar {
    height: 36px;
    background-color: #bdbdbd;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    text-align: center;
    line-height: 36px;
}

.btn_wrap {
    float: right;
}

.edit_list, .com_list {
    border: 1px solid #444444;
    padding: 8px 10px;
    margin-left: 10px;
}

.del_list, .can_list {
    background-color: #444444;
    border: 1px solid #444444;
    color: #ffffff;
    padding: 8px 10px;
    margin-left: 10px;
}
.edit_div{
    display: none;
}

@media (max-width: 800px) {
    .list_wrap {
        width: 95%;
        padding: 30px 3%;
        margin: 30px auto;
        border: 1px solid #bdbdbd;
        box-sizing: border-box;
    }
    .progress_wrap {
        width: 100%;
    }
    .btn_wrap {
        margin-top: 20px;
    }
}